<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Welcome</title>
  <style>
  </style>
  <link rel="stylesheet" href="node_modules/material-design-lite/material.min.css">
  <script src="node_modules/material-design-lite/material.min.js"></script>
  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body id="sample">
  <!-- Wide card with share menu button -->
  <style>
    .demo-card-wide.mdl-card {
      width: 75vw;
      max-width: 512px;
    }

    .demo-card-wide>.mdl-card__title {
      color: #fff;
      height: 200px;
    }

    .demo-card-wide>.mdl-card__menu {
      color: #fff;
    }
  </style>
  <div id="app" class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header mdl-layout--fixed-header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Chess!</span>
      </div>
    </header>


    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--middle demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title" style="background: url('/assets/images/fun_games.png') center / cover;">
          <h2 class="mdl-card__title-text">Welcome</h2>
        </div>
        <div class="mdl-card__supporting-text">
          Welcome to the James' Original Checkers!
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a id="id_new_game" v-on:click="new_game" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Get Started
          </a>
        </div>
        <div class="mdl-card__menu">
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">share</i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <script>
    var _vue1 = new Vue({
      el: '#app',
      data: {},
      // define methods under the `methods` object
      methods: {
        new_game: function (event) {
          this.$http.get("/new_game").then((response) => {
            console.log("/game/" + response.data);
            window.location.href = "/game/" + response.data;
          });
        }
      }
    });
  </script>
</body>

</html>