<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Welcome</title>
  <style>
  </style>
  <link rel="stylesheet" href="node_modules/material-design-lite/material.min.css">
  <script src="node_modules/material-design-lite/material.min.js"></script>
  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body id="sample">
  <div id="app" class="mdl-layout mdl-js-layout">
    
  </div>
  <script>
    var _vue1 = new Vue({
      el: '#app',
      data: {},
      // define methods under the `methods` object
      methods: {
        move: function (event) {
        }
      }
    });
  </script>
</body>

</html>